---
export const prerender = false;
import "../styles/global.css";
import NavBar from '@components/NavBar';
import Footer from '@components/Footer';
import { getImage } from 'astro:assets';
import telfordsLogo from '@assets/Telfords-Character-Logo.png';
import SiteBanner from '@components/SiteBanner'
import { getSiteBanner } from '@src/lib/queries'
import BannerMinimized from '@components/SiteBanner/BannerMinimized'

const logoImage = await getImage({ src: telfordsLogo });

const bannerData = await getSiteBanner()

const now = new Date()
const bannerStartDate = bannerData.startDate ? new Date(bannerData.startDate) : null
const bannerEndDate = bannerData.endDate ? new Date(bannerData.endDate) : null

const isWithinDateRange =
  (!bannerStartDate || now >= bannerStartDate) && (!bannerEndDate || now <= bannerEndDate)

const bannerisActive = bannerData.active && isWithinDateRange

const bannerCookie = Astro.cookies.get('siteBanner');
const bannerDisplay = bannerCookie ? bannerCookie.value === 'true' : true;

const isHomePage = Astro.url.pathname == '/';
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://telfordspipeandcigar.com" />
    <title>Telford's Pipe & Cigar</title>
    <meta name="description" content="The Bay Areas largest selection of tobacco products located in Mill Valley, Marin County, California since 1970.">
    <link rel="icon" type="image/x-icon" href="/favicon.jpg">
    <meta property="og:title" content="Telford's Pipe & Cigar" />
    <meta property="og:description" content="The Bay Areas largest selection of tobacco products located in Mill Valley, Marin County, California since 1970." />
    <meta property="og:image" content="https://telfordspipeandcigar.com/Telfords-Character-Logo.png" />
    <meta property="og:url" content="https://telfordspipeandcigar.com" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="https://telfordspipeandcigar.com/Telfords-Character-Logo.png" />
    <meta name="twitter:title" content="Telford's Pipe & Cigar" />
    <meta name="twitter:description" content="The Bay Areas largest selection of tobacco products located in Mill Valley, Marin County, California since 1970." />
    <meta name="twitter:image" content="https://telfordspipeandcigar.com/Telfords-Character-Logo.png" />
  </head>
  <body class="w-full">
    <NavBar logoImg={logoImage} homePage={false} client:load  />
    {
      bannerisActive && bannerDisplay ? <SiteBanner isHomePage={isHomePage} initialBannerStatus={bannerDisplay} bannerData={bannerData} client:load /> : null
    }
    <main class={`bg-cream`}>
      {
        !isHomePage && <div class="sm:mt-16 xs:mt-8">&nbsp;</div>
      }
      <slot />
      {
        !bannerDisplay && bannerisActive && <BannerMinimized bannerData={bannerData} client:load />
      }
      <Footer client:load  />
    </main>
  </body>
</html>
